// Font Face

@font-face {
    font-family: 'Linear Grotesk';
    src: url('../font/LinearGrotesk-Light.woff2') format('woff2'),
        url('../font/LinearGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linear Grotesk';
    src: url('../font/LinearGrotesk-Regular.woff2') format('woff2'),
        url('../font/LinearGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Linear Grotesk';
    src: url('../font/LinearGrotesk-Medium.woff2') format('woff2'),
        url('../font/LinearGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linear Grotesk';
    src: url('../font/LinearGrotesk-Bold.woff2') format('woff2'),
        url('../font/LinearGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linear Grotesk';
    src: url('../font/LinearGrotesk-SemiBold.woff2') format('woff2'),
        url('../font/LinearGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi';
    src: url('../font/ITCAvantGardeStd-Demi.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


// Font config
$font_heading : 'ITC Avant Garde Gothic Std Demi', sans-serif  ;
$font_family :'Linear Grotesk', sans-serif  ;