// SECTION
.module__section {

    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1em;
    // text-transform: uppercase;
    // letter-spacing: 2px;
    position: relative;
    margin-bottom: 3rem;

    @media ( min-width: 768px ) {
        font-size: 2rem;
    }

    @media ( min-width: 1200px ) {
        font-size: 2.5rem;
    }

    @media ( min-width: 992px ) {
        margin-bottom: 5rem;
    }

    span {
        opacity: 0;
        transition: all .3s .3s;
    }

}

.animation {
    .module__section span {
        opacity: 1 !important;
    }
}

// TITLE {
.module__title {

    font-family: $font_heading;
    line-height: 1.1;
    font-size: 2.4rem;
    margin-bottom: 4rem;

    @media ( min-width: 768px ) {
        font-size: 4.2rem;
    }
    
    @media ( min-width: 992px ) {
        font-size: 4.5rem;
        margin-bottom: 4rem;
    }

    @media ( min-width: 1200px ) {
        font-size: 5rem;
    }

    @media ( min-width: 1600px ) {
        font-size: 6rem;
    }

    span span {
        line-height: .9em !important;
    }

}